In [44]:
import os

import pandas as pd
import numpy as np

In [45]:
df_info = pd.read_csv('../../data/info_dataset.csv',index_col=0)

In [46]:
df_info['location'] = df_info.filename.apply(lambda x: x.split('_')[2])
df_info['sc'] = df_info.filename.apply(lambda x: x.split('_')[3])
df_info['idk'] = df_info.filename.apply(lambda x: x.split('_')[1])

In [47]:
df_info['wheeze_b'] = np.where(df_info['wheeze']>0,1,0)
df_info['crackle_b'] = np.where(df_info['crackle']>0,1,0)
df_info['both'] = np.where(df_info[['wheeze_b','crackle_b']].sum(axis=1)>0,1,0)
df_info['none'] = np.where(df_info[['wheeze_b','crackle_b']].sum(axis=1)==0,1,0)

In [50]:
df_info[df_info.recording_type == 'AKGC417L']

,Participant_ID,Age,Sex,Adult BMI (kg/m2),Child Weight (kg),Child Height (cm),Outcome,filename,wheeze,crackle,recording_type,location,sc,idk,wheeze_b,crackle_b,both,none
13,107.0,75.0,F,33.7,NaN,NaN,COPD,107_2b3_Ar_mc_AKGC417L,7.0,25.0,AKGC417L,Ar,mc,2b3,1,1,1,0
14,107.0,75.0,F,33.7,NaN,NaN,COPD,107_2b5_Pr_mc_AKGC417L,1.0,15.0,AKGC417L,Pr,mc,2b5,1,1,1,0
15,107.0,75.0,F,33.7,NaN,NaN,COPD,107_2b4_Al_mc_AKGC417L,2.0,16.0,AKGC417L,Al,mc,2b4,1,1,1,0
16,107.0,75.0,F,33.7,NaN,NaN,COPD,107_3p2_Lr_mc_AKGC417L,6.0,8.0,AKGC417L,Lr,mc,3p2,1,1,1,0
17,107.0,75.0,F,33.7,NaN,NaN,COPD,107_3p2_Al_mc_AKGC417L,3.0,22.0,AKGC417L,Al,mc,3p2,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867,213.0,58.0,F,24.7,NaN,NaN,COPD,213_1p3_Ar_mc_AKGC417L,0.0,0.0,AKGC417L,Ar,mc,1p3,0,0,0,1
868,213.0,58.0,F,24.7,NaN,NaN,COPD,213_1p5_Pr_mc_AKGC417L,0.0,4.0,AKGC417L,Pr,mc,1p5,0,1,1,0
869,213.0,58.0,F,24.7,NaN,NaN,COPD,213_1p2_Pl_mc_AKGC417L,0.0,4.0,AKGC417L,Pl,mc,1p2,0,1,1,0
870,213.0,58.0,F,24.7,NaN,NaN,COPD,213_2p2_Ar_mc_AKGC417L,0.0,1.0,AKGC417L,Ar,mc,2p2,0,1,1,0
871,213.0,58.0,F,24.7,NaN,NaN,COPD,213_1p2_Tc_mc_AKGC417L,0.0,0.0,AKGC417L,Tc,mc,1p2,0,0,0,1

In [34]:
df_info.groupby('location').sum()

/var/folders/xx/qddw26dx0174zw4hpmjq3gjh0000gn/T/ipykernel_30045/3385368913.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_info.groupby('location').sum()

,Participant_ID,Age,Adult BMI (kg/m2),Child Weight (kg),Child Height (cm),wheeze,crackle,wheeze_b,crackle_b,both,none
location,,,,,,,,,,,
Al,21230.0,8782.0,3328.04,0.0,0.0,299.0,1031.0,53,70,86,42
Ar,23411.0,9537.0,3619.38,0.0,0.0,297.0,1194.0,54,78,102,38
Ll,10607.0,4702.0,1712.62,0.0,0.0,205.0,1013.0,27,50,58,10
Lr,17513.0,7484.0,2780.08,0.0,0.0,226.0,1211.0,39,68,81,27
Pl,20538.0,8623.0,3196.96,0.0,0.0,249.0,2095.0,45,85,99,26
Pr,20432.0,8454.0,3157.74,0.0,0.0,280.0,1515.0,52,75,92,32
Tc,16692.0,6919.0,2564.56,0.0,0.0,143.0,611.0,36,41,64,36

In [36]:
df_info.groupby('sc').sum()

/var/folders/xx/qddw26dx0174zw4hpmjq3gjh0000gn/T/ipykernel_30045/3470220549.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_info.groupby('sc').sum()

,Participant_ID,Age,Adult BMI (kg/m2),Child Weight (kg),Child Height (cm),wheeze,crackle,wheeze_b,crackle_b,both,none
sc,,,,,,,,,,,
mc,115778.0,48247.0,17717.99,0.0,0.0,1423.0,8363.0,263,429,520,177
sc,14645.0,6254.0,2641.39,0.0,0.0,276.0,307.0,43,38,62,34